.bodyhome{
    background-image: url(/imagens/fundo.png);
}
.navigation{
    display: flex;
    justify-content: flex-end;
    padding: 0% 0% 0% 0%;

}
.capa{
    display: flex;
    justify-content: center;
    padding: 0.9% 25%;
}
h4{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}